.logo{
  margin: 20px;
  *zoom: 1;
  //text-align:center;
  
}
.content {
	margin: 20px;
	padding: 20px;
		
}

.form-image{
	width:100px;
	height:100px;
	//background-color: red;
	float: right;
}

.form-control-wrap{
	width: 50%;	
	float:left;
	display:block;
}
.form-control-wrap-label{
    width: 100px;
    display: inline-block;
}

